name: .NET Release

on:
  workflow_run:
    workflows: [".NET"]
    branches: [ main ]
    types:
      - completed

jobs:
  publish-nuget:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    
    - name: Restore
      run: dotnet restore
      
    - name: Build binaries
      run: dotnet build -c Release --no-restore

    - name: Creating a package
      run: dotnet pack --no-build -c Release -o .

    - name: Publish to Nuget 
      run: dotnet nuget push *.nupkg -s https://api.nuget.org/v3/index.json -k ${{secrets.NUGET_API_KEY}} --skip-duplicate -n 
